body {
    background-color: #24272b;
}
/* 
.header-logo {
    height: 150px;
    width: 400px;
    background-image: url("../images/marvel-comics-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
} */